/* =============================================================================
  HTML5 element display
========================================================================== */
article, aside, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
  Reset
========================================================================== */
html {height: 100%;}
body {
    height: 100%; 
    width: 100%;
    font-family: "Helvetica", "sans serif";
    font-size: 100%;
    color: #000;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
	background: url(../img/background_pattern.png) top left repeat;
}

body, html, div, p, span, 
h1, h2, h3, h4, h5,
table, td, tr, th, 
ul, ol, li, dl, dt, dd, 
form, input, fieldset, label, legend, select, textarea,
a, img, pre{
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
div.wrapper{
  width: 1400px;
  height: 2450px;
  margin-left: auto;
  margin-right: auto;
}

header{
  display: block;
  width: 940px;
  height: 103px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

header .top{
  margin-bottom: 30px;
  width: 940px;
  height: 32px;
}
header #logo h1{
  display: block;
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  width: 164px;
  height:28px;
  margin: 1px 1px 4px 1px;
  font-family: "ChunkFive";
  color: black;
}
header #logo a{
  display: block;
}

header #logo{
  float: left;
  display:block;
  width: 166px;
  height: 33px;
}

header #logo span{
  color: #f03c3c;
}
header input {
  display: block;
  float: left;
}
header form{
  float: right;
  height: auto;
  width: 201px;
  line-height: 33px;
}
header form input[type~="text"]{
  width: 151px;
  height: 31px;
  border-top: 1px solid #d5d5d5;
  border-right: 0px;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  font-family: "Helvetica";
  font-weight: normal;
  font-size: 12px;
  color: #d5d5d5;
  padding: 0px 12px 0px 12px;
  outline: none;
}
header form input[type~="submit"]{
  width: 24px;
  height: 31px;
  border: 1px solid #d5d5d5;
  border-left: 0px;
  box-sizing: content-box;
  background: url(../img/magnifyGlass.png) no-repeat;
  background-position: center;
}
header nav{
  width: 940px;
  height: 20px;
  border-top: 1px solid #cecece;
  padding-bottom: 40px;
}
header nav li{
  display: inline-block;
}

header nav li:hover{
  border-top: 1px solid red;
  margin-top: -1px;  
  padding-top: 19px;
}

header nav .active{
  border-top: 1px solid red;
  margin-top: -1px;
  padding-top: 19px;
}

header nav .active a{
  color: red;
}
/*a[class~="link"]{*/
.link{
  text-decoration: none;
  text-align: center;
}

header nav li a{
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: bold;
  /*text-decoration: none;*/
  color: black;
  display: block;
  box-sizing: content-box;
  width: 79px;
  height: 12px;
  line-height: 12px;
  border-right: 1px solid #d5d5d5;
  padding: 3px 20px 5px 13px;
  margin-left: auto;
  margin-right: auto;
}

.block{
  display: block;
}

footer{
  display: block;
  width: 940px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  margin-bottom: 26px;
  border-top: 1px solid #d5d5d5;
}

footer ul li a#twitter{
  background: url(../img/twitter.png) no-repeat;
}

footer ul li a#rss{
  background: url(../img/rss.png) no-repeat;
}

footer ul li a#facebook{
  background: url(../img/facebook.png) no-repeat;
}
footer ul li a#pinterest{
  background: url(../img/pinterest.png) no-repeat;
}
footer ul li a{
  height: 35px;
  width: 35px;
}
footer ul li .left{
  float: left;
}
footer ul li .right{
  float: right;
}

ul.socials li{
  float: left;
  list-style: none;
}
footer .right{
  float: right;
  text-align: right;
}
footer .right address{
font-family:"Helvetica"; 
font-size:12px;
font-weight:bold;
line-height: 23px;
color: #4f5356;
}
footer .right p{
  font-family: "Helvetica";
  font-size: 11px;
  line-height: 23px;
  color: #4f5356;
}
div.image-block{
  position: relative;
  width: 940px;
  height: 501px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
}

.slider_prev,
.slider_next{
  display: block;
  width: 93px;
  height: 86px;
  position: absolute;
  top: 176px;
  z-index: 10;
  background-repeat: no-repeat;
}

.slider_prev{
  background-image: url("../img/arrow_left.png"); 
  left: -15px;
}

.slider_next{
  background-image: url("../img/arrow_right.png"); 
  right: -13px;
}
div.image-block div.row1 div.left{
  width: 307px;
  height: 74px;
  background: url(../img/img1.jpg) no-repeat;
  background-position: 50%, 50%;
  margin-right: 5px;
  float: left;
}
div.image-block div.row1 div.center{
  width: 315px;
  height: 74px;
  background: url(../img/img2.jpg) no-repeat;
  background-position: 50%, 50%;  
  margin-right: 6px;
  float: left;
}
div.image-block div.row1 div.right{
  width: 307px;
  height: 74px;
  background: url(../img/img3.jpg) no-repeat;
  background-position: 50%, 50%;
  float: left;
}
div.image-block div.row2{
  margin-top: 6px;
}
div.image-block div.row2 div#bigLeft{
  width: 627px;
  height: 299px;
  background: url(../img/img4.jpg) no-repeat;
  background-position: 50%, 50%;
  margin-right: 6px;
  float: left;
}
div.image-block div.row2 div#rightContainer{
  width: 307px;
  height: 299px;
  float: left;
}
div.image-block div.row2 div#rightContainer div#top{
  width: 307px;
  height: 183px;
  background: url(../img/img5.jpg) no-repeat;
  background-position: 50%, 50%;
}
div.image-block div.row2 div#rightContainer div#bottom{
  width: 307px;
  height: 110px;
  background: url(../img/img6.jpg) no-repeat;
  background-position: 50%, 50%;
  margin-top: 6px;
}
div.image-block div.row3{
  margin-top: 6px;
}
div.image-block div.row3 div.left{
  width: 307px;
  height: 116px;
  background: url(../img/img7.jpg) no-repeat;
  background-position: 50%, 50%;
  margin-right: 5px;
  float: left;
}
div.image-block div.row3 div.center{
  width: 315px;
  height: 116px;
  background: url(../img/img8.jpg) no-repeat;
  background-position: 50%, 50%;  
  margin-right: 6px;
  float: left;
}
div.image-block div.row3 div.right{
  width: 307px;
  height: 116px;
  background: url(../img/img9.jpg) no-repeat;
  background-position: 50%, 50%;
  float: left;
}
div#indexContainer{
  width: 940px;
  height: 1643px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
h2#indexHeader{
  font-size: 30px;
  font-family: "ChunkFive";
  font-weight: 500;
  margin-top: 50px;
  padding-left: 120px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
}

ul.navigation li{
  float: left;
  list-style: none;
}
ul.navigation li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";

}
ul.navigation li.active a{
  color: #f03c3c;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
}
ul.navigation li.active a span{
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
}
ul.navigation li a:hover{
  color: red;
}
ul.navigation li a span{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";

}
ul.navigation{
  padding-left: 1px;
  margin-top: 40px;
}
div.articlesWrapper{
  margin-top: 25px;
  width: 940px;
  height: 1460px;
}
article{
  width: 220px;
  border: 0;
  border-color: #8a8a8a;
  border-style: solid;
}
article a{
  display: block;
  width: 100%;
}
article .overlay{
  position: relative;
  height: auto;
  background-color: rgba(0,0,0,0.85);
  /*overflow: hidden;*//*Не знам защо чупи колоните*/
}
article .overlay span {
    position: absolute;
    color: rgba(0,0,0,0.75);
    top: 25%;
    left: 40%;
    line-height: 35px;
    width: auto;
    font-family: Helvetica;
    font-weight: 900;
    background: rgba(255,255,255,0.85);
    font-size: 35px;
    text-align: center;
    padding: 0px 7px 1px 7px;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}
article .overlay table.fixed{
  visibility: hidden;
  position: absolute;
  width: 100%;
  bottom: 20px;
  color: #fff;
  table-layout: fixed;
}
 article .overlay table.fixed td {
 overflow: hidden;
 width: 33%;
 text-align: center;
 font-family: "Helvetica";
 font-size: 12px;
 line-height: 18px;
 font-weight: 400;
}

article .overlay:hover span,
article .overlay:hover table.fixed{
  visibility: visible;
}

article img.image-article{
  vertical-align: bottom;
}

.overlay:hover img.image-article{
  opacity: .1;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}
article figure{
  width: 206px;
  height: auto;
  margin:0;
  padding-left: 13px;
  margin-bottom: 19px;
}
article div.article-body{
  width: 218px;  
  padding-top: 14px;
  border: 1px solid #dbdbdb;
  border-top: 0px;
  margin-bottom: 20px;
}
div.articlesWrapper img.inline{
  float: left;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 7px;
  padding-bottom: 4px;
}
div.four-col{
  -moz-column-count: 4;
  -moz-column-gap: 21px;
  -webkit-column-count: 4;
  -webkit-column-gap: 21px;
}
article figure h3{
  font-family: "Helvetica";
  color: #2e2e2e;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
article figure figcaption{
  font-family: "Myriad Pro";
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: #dbdbdb;
}
div.articlesWrapper article p.text{
  font-family: "Myriad Pro";
  color: #4f5356;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: black;
  width: 190px;
  padding-left: 13px;
  padding-right: 15px;
  padding-bottom: 19px;

}
div.articlesWrapper article p.more{
  font-family: "Helvetica";
  font-size: 12px;
  line-height: 28px;
  color: #2e2e2e;
  font-weight: 600;
  margin-bottom: 22px;
}
div.articlesWrapper article a{
  text-decoration: none;
}

/*Taken from Irina's work*/

.pagination a{
  font-size: 12px;
  font-weight: 700;
  color: #666;
  text-align: center;
  float: left;
  width: 29px;
  height: 29px;
  padding-top: 6px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  background: -moz-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(213,213,213,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d5d5d5',GradientType=0 ); /* ie6-9 */
  -moz-box-shadow: inset -2px -2px 1px #bbb;
  -webkit-box-shadow: inset -2px -2px 1px #bbb;
  box-shadow: inset -2px -2px 1px #bbb;
  margin-right: 2px;
}

.pagination a:hover{
  background: -moz-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(231,231,231,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 ); /* ie6-9 */
}

.pagination a.current{
  background: -moz-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(208,208,208,1)), color-stop(100%, rgba(227,227,227,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#e3e3e3',GradientType=0 ); /* ie6-9 */
  -moz-box-shadow: inset 2px 2px 1px #8a8a8a;
  -webkit-box-shadow: inset 2px 2px 1px #8a8a8a;
  box-shadow: inset 2px 2px 1px #8a8a8a;
}
section#blog_wrapper{
  width: 940px;
  height: 1643px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}